<a href="https://colab.research.google.com/github/ToluSh/Classwork/blob/main/Pandas_updated.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
'labels' : ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']}

exam_data_df = pd.DataFrame(exam_data) #to obtain dictionary on dataframe datasructure
exam_data_index = exam_data_df.set_index('labels') #to set index to labels
print(exam_data_index)

             name  score  attempts qualify
labels
a       Anastasia   12.5         1     yes
b            Dima    9.0         3      no
c       Katherine   16.5         2     yes
d           James    NaN         3      no
e           Emily    9.0         2      no
f         Michael   20.0         3     yes
g         Matthew   14.5         1     yes
h           Laura    NaN         1      no
i           Kevin    8.0         2      no
j           Jonas   19.0         1     yes

In [28]:
exam_data_getrows = exam_data_df.head(-7) #to obtain 3 rows
print(exam_data_getrows)

        name  score  attempts qualify labels
0  Anastasia   12.5         1     yes      a
1       Dima    9.0         3      no      b
2  Katherine   16.5         2     yes      c

In [34]:
exam_data_nonan = exam_data_index.dropna() #to drop rows with nan score
print(exam_data_nonan)

             name  score  attempts qualify
labels
a       Anastasia   12.5         1     yes
b            Dima    9.0         3      no
c       Katherine   16.5         2     yes
e           Emily    9.0         2      no
f         Michael   20.0         3     yes
g         Matthew   14.5         1     yes
i           Kevin    8.0         2      no
j           Jonas   19.0         1     yes

In [39]:
exam_data_extract = exam_data_nonan.iloc[:,0:2] #to extract new columns
print(exam_data_extract)

             name  score
labels
a       Anastasia   12.5
b            Dima    9.0
c       Katherine   16.5
e           Emily    9.0
f         Michael   20.0
g         Matthew   14.5
i           Kevin    8.0
j           Jonas   19.0

In [40]:
exam_data2 = {'name': ['Suresh'], 'score': [15.5], 'attempts': [1], 'qualify': ['yes']} #to add new dat
exam_data_index2 = pd.DataFrame(exam_data2)
new_exam_data_index = pd.concat([exam_data_nonan, exam_data_index2]) #to concatenate 2 dataframes
print(new_exam_data_index)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
0     Suresh   15.5         1     yes

In [41]:
exam_data_remove = new_exam_data_index.drop('attempts', axis ='columns')
print(exam_data_remove)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
0     Suresh   15.5     yes

In [46]:
z = new_exam_data_index['score']
Success = [] #to create a list for Success column

for i in z:
    if i > 10:
        Success.append(1) #to append 1 or 0 into Success
    else:
        Success.append(0) 
print(Success)

[1, 0, 1, 0, 1, 1, 0, 1, 1]

In [47]:
new_exam_data_index['Success'] = Success
print(new_exam_data_index)

        name  score  attempts qualify  Success
a  Anastasia   12.5         1     yes        1
b       Dima    9.0         3      no        0
c  Katherine   16.5         2     yes        1
e      Emily    9.0         2      no        0
f    Michael   20.0         3     yes        1
g    Matthew   14.5         1     yes        1
i      Kevin    8.0         2      no        0
j      Jonas   19.0         1     yes        1
0     Suresh   15.5         1     yes        1

In [10]:
new_exam_data_index4.to_csv("my_data.csv")
new_data = pd.read_csv("my_data.csv")

In [14]:
new_exam_data_index.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, a to 0
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      11 non-null     object
 1   score     11 non-null     object
 2   attempts  11 non-null     int64
 3   qualify   11 non-null     object
dtypes: int64(1), object(3)
memory usage: 740.0+ bytes